<div class="reset-password">
    <h2 class="reset-title">{{ title }}</h2>
    <div class="reset-content">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.form)">

            <div class="form-group">
                <label for="oldPassword">Old password:</label>
                <input ngModel id="oldPassword" name="oldPassword" #oldPassword="ngModel" type="text" class="form-control input-sm" placeholder="Type your old password" minlength="3" required>

                <div
                    *ngIf="oldPassword.errors && oldPassword.touched" 
                    class="alert alert-danger">
                    <span *ngIf="oldPassword.errors.minlength">Password should be minimum {{ oldPassword.errors.minlength.requiredLength }} characters.</span>
                    <span *ngIf="oldPassword.errors.required">Password is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="newPassword">New password:</label>
                <input ngModel id="newPassword" name="newPassword" #newPassword="ngModel" type="text" class="form-control input-sm" placeholder="Type your new password" minlength="3" required>

                <div
                    *ngIf="newPassword.errors && newPassword.touched" 
                    class="alert alert-danger">
                    <span *ngIf="newPassword.errors.minlength">Password should be minimum {{ newPassword.errors.minlength.requiredLength }} characters.</span>
                    <span *ngIf="newPassword.errors.required">Password is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirmation:</label>
                <input ngModel id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" type="text" class="form-control input-sm" placeholder="Confirm your new password" minlength="3" required>

                <div
                    *ngIf="confirmPassword.errors && confirmPassword.touched" 
                    class="alert alert-danger">
                    <span *ngIf="confirmPassword.errors.minlength">Password should be minimum {{ confirmPassword.errors.minlength.requiredLength }} characters.</span>
                    <span *ngIf="confirmPassword.errors.required">Password is required</span>
                </div>
            </div>

            <button class="btn btn-default" type="submit" [disabled]="!f.valid">Submit</button>

        </form>
    </div>
</div>