<div class="contact-form">
    <div class="contact-title">
        <h2>
            {{ title }}
        </h2>
    </div>
    <div class="contact-content">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
            <div class="form-group">
                <label for="firstName">Your firstname :</label>
                <input ngModel name="firstName" #firstName="ngModel" id="firstName" type="text" class="form-control input-sm" placeholder="Enter your firstname here"
                    required minlength="3"> 
                    <!--{{ firstName.errors | json}}  to see the object -->
                <div *ngIf="!firstName.valid && firstName.touched" class="alert alert-danger">Input invalid</div>
            </div>

            <div class="form-group">
                <label for="message">Your message :</label>
                <textarea class="form-control input-sm" name="message" ngModel #message="ngModel" id="message" cols="30" rows="10" placeholder="Type your message here"
                    required></textarea>
                <div *ngIf="!message.valid && message.touched" class="alert alert-danger">Input invalid</div>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
            Submit
            </button>
        </form>
    </div>
</div>