<div class="panel panel-default zippy">
  <!-- Default panel contents -->
  <div class="panel-heading zippy-title" (click)="toggle()">
      <a>
          {{ title }}
            <span class=" pull-right glyphicon" [ngClass]="{
                'glyphicon-chevron-up': 'isExpanded',
                'glyphicon-chevron-down': '!isExpanded'
        }"></span>
      </a>
  </div>
  <div *ngIf="isExpanded" class="panel-body">
    <div class="zippy-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>